*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/feature/home/src/main/res/drawable/*
/core/src/main/res/drawable*
/hs_err_pid7652.log
/hs_err_pid9456.log
/feature/home/src/main/res/raw/lto4qjh6.lottie
